[Unit]
Description=CouchDB Server
After=network.target

[Service]
User=couchdb
Type=forking
EnvironmentFile=-/etc/sysconfig/couchdb
PIDFile=/run/couchdb/couchdb.pid
ExecStart=/usr/bin/couchdb -r $COUCHDB_RESPAWN_TIMEOUT -o $COUCHDB_STDOUT_FILE -e $COUCHDB_STDERR_FILE $COUCHDB_OPTIONS -b

[Install]
WantedBy=multi-user.target
